* {
  font-family: "Raleway", sans-serif;
}

html {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(131, 214, 240);
  background: linear-gradient(
    130deg,
    rgba(131, 214, 240, 1) 0%,
    rgba(197, 120, 245, 1) 100%
  );
}

header {
  font-weight: bold;
}

h4 {
  font-style: italic;
  margin-top: 5rem;
}

.App {
  text-align: center;
  margin-top: 5rem;
}

.View {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #000;
  border-width: thin;
  padding: 2rem;
  width: 50%;
}

#button {
  margin-top: 1rem;
  width: 235px;
  padding: 10px 24px;
  border-radius: 2px;
  background-color: #90c3f1;
  color: black;
  border: 2px solid #90c3f1;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button:hover {
  background-color: #b096f3;
  border: 2px solid #b096f3;
  color: white;
}

@media only screen and (max-width: 480px) {
  #button {
    width: 150px;
  }
}

.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
